@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1rem;
}

html {
    scroll-behavior: smooth !important;
    font-size: 16px;
}

body {
    position: relative;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--primary);
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #3379614d;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #337961;
}

.grid-clip {
    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, transparent 15%);
    -webkit-mask: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, transparent 50%);
}
.footer-grid-clip {
    mask-image: linear-gradient(to bottom, transparent -30%, rgba(255, 255, 255, 1) 100%);
    -webkit-mask: linear-gradient(to bottom, transparent -30%, rgba(255, 255, 255, 1) 100%);
}

.portfolio-grid {
    mask-image: linear-gradient(to bottom, transparent 20%, rgba(255, 255, 255, 1) 50%, transparent 90%);
    -webkit-mask: linear-gradient(to bottom, transparent 20%, rgba(255, 255, 255, 1) 50%, transparent 90%);
}

.desktop-preview-grid {
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
    -webkit-mask: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
}

.clients-grid {
    mask-image: linear-gradient(to bottom, transparent 40%, rgba(255, 255, 255, 0.8) 50%, transparent 60%);
    -webkit-mask: linear-gradient(to bottom, transparent 40%, rgba(255, 255, 255, 0.8) 50%, transparent 60%);
}
