.main {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center;
    gap: 2rem;
}

.main_left,
.main_right {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main_left > h4 {
    font-weight: 400;
}

.main_left > h5,
.team_top > h5,
.work_top > h5,
.contact_top > h5 {
    font-weight: 200;
}

.main_left button {
    font-size: 1.5rem;
    font-weight: 700;
    background: var(--accent-30);
}

.main_left button:hover {
    color: var(--text-900);
    background: var(--accent);
}

.team {
    min-height: max-content;
    display: grid;
    gap: 1rem;
}

.team_bottom {
    padding: 1rem 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, 25rem);
    gap: 2rem;
    align-items: center;
}

/* Responsive */

@media (max-width: 1536px) {
    
}

@media (max-width: 1280px) {
    
}

@media (max-width: 1024px) {
    .main {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
    }

    .main_left {
        align-items: center;
    }

    .main_left > h4,
    .main_left > h5,
    .team_top > h1,
    .team_top > h5,
    .work_top > h1,
    .work_top > h5,
    .contact_top > h1,
    .contact_top > h5 {
        text-align: center;
    }

    .team_bottom {
        grid-template-columns: auto;
        grid-template-rows: repeat(auto-fill, 10rem);
        place-items: center;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {
    
}